/*  set transparent background for navbar */
.navbar {
    background-color: lightgrey;
}

.navbarBrand {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
}

.navbar img{
    width: 1.5em;
}

.navbar button{
    font-size: 1.5em;
}